<style>
  .button {
    --width: 250px;
    --height: 55px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #1163ff;
    --tooltip-color: #cccccc;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  [data-theme="dark"] .button {
    --tooltip-color: #2d3238;
  }

  .button::before {
    position: absolute;
    content: "Size: 65kb";
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: #000;
    border-radius: 0.25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }

  [data-theme="dark"] .button::before {
    color: #fff;
  }

  .button::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }

  .button::after,
  .button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
  }

  .text,
  .icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .text {
    top: 0;
  }

  .text,
  .icon {
    transition: top 0.3s ease;
  }

  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button:hover {
    background: #8347ff;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(111, 44, 244, 0.3);
  }

  .button:hover .text {
    top: -100%;
  }

  .button:hover .icon {
    top: 0;
  }

  .button:hover:before,
  .button:hover:after {
    opacity: 1;
    visibility: visible;
  }

  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }

  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
</style>

<a href="/files/Resume_LedbetterG.pdf" download class="text-decoration-none d-inline-block">
  <button class="button">
    <div class="button-wrapper">
      <div class="text">Download Resume</div>
      <span class="icon">
        <span class="iconify" data-icon="material-symbols:download" width="48" height="48"></span>
      </span>
    </div>
  </button>
</a>
