<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grant Ledbetter</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="d-flex flex-column h-100">
    <header><%- include('./partials/nav') %></header>

    <main class="flex-shrink-0">
      <div
        class="d-flex justify-content-center align-items-center mx-auto my-4"
      >
        <h1>Welcome to My Website</h1>
      </div>

      <div class="container bio-section">
        <div class="profile-container">
          <div class="image-box">
            <!-- Replace with your actual image path -->
            <img
              src="/images/updated-picture.jpeg"
              alt="Profile picture"
              class="profile-image"
            />
          </div>
          <div class="description-box">
            <h2>About Me</h2>
            <p>
              <!-- Add your bio text here -->
              Hello! I'm [Your Name]. I'm a [Your Profession/Role] passionate
              about [Your Interests/Specialties]. With experience in [Your
              Skills/Background], I focus on [Your Goals/Specialties].
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer class="mt-auto"><%- include('./partials/footer') %></footer>
  </body>
</html>
