<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">
  </head>
  <body>
    <header><%- include('./partials/nav') %></header>
    <main>
      <div class="row justify-content-center mt-5 mx-5">
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Title 1</h3>
              <p class="card-text">Text for project 1</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Title 2</h3>
              <p class="card-text">Text for project 2</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Title 3</h3>
              <p class="card-text">Text for project 3</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Title 4</h3>
              <p class="card-text">Text for project 4</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer><%- include('./partials/footer') %></footer>
  </body>
</html>
